VITE_RPC_URL=https://soroban-testnet.stellar.org
VITE_NETWORK_PASSPHRASE=Test SDF Network ; September 2015
VITE_HORIZON_URL=https://horizon-testnet.stellar.org
VITE_ADMIN=
VITE_CASH_ID=
VITE_ORACLE_ID=
VITE_DESK_ID=
VITE_ALPHA_ID=
VITE_INDEX_ID=
